form {

    background-color: antiquewhite;
    height: 60px;
    border: 1px solid blueviolet;
}
.input-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 100%;
    gap: 10px;
}